body {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-image: url(../images/hero-side-bg.png);
    background-size: cover;
  }
  